body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}

#customerName {
    margin-bottom: 10px;
}

#queueList {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 5rem;
    display: flex;
    flex-wrap: wrap;
}

.text-p {
    text-align: center;
}

.text-p {
    position: absolute;
    top: 21%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #acacac;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    font-size: x-large;
    margin: 1rem auto;
}
